body{
    background-color: antiquewhite;
    
}
h1{
    display: flex;
    justify-content: center;
}
#descrip{
    height: 150px;
    width: 1000px;
    background-color: rgb(229, 253, 245);
    padding: 50px;
    border: 5px solid rgb(236, 223, 223);
    margin-left: auto;
    margin-right: auto;
}
#educacion{
    height: 150px;
    width: 1000px;
    background-color: rgb(229, 253, 245);
    padding: 50px;
    border: 5px solid rgb(236, 223, 223);
    margin-left: auto;
    margin-right: auto;
}
#experiencia{
    height: 150px;
    width: 1000px;
    background-color: rgb(229, 253, 245);
    padding: 50px;
    border: 5px solid rgb(236, 223, 223);
    margin-left: auto;
    margin-right: auto;
}
#skills{
    height: 150px;
    width: 1000px;
    background-color: rgb(229, 253, 245);
    padding: 50px;
    border: 5px solid rgb(236, 223, 223);
    margin-left: auto;
    margin-right: auto;
}
#foto{
    height: 150px;
    width: 1000px;
    background-color: rgb(229, 253, 245);
    padding: 50px;
    border: 5px solid rgb(236, 223, 223);
    margin-left: auto;
    margin-right: auto;
}
#hobbies{
    height: 150px;
    width: 1000px;
    background-color: rgb(229, 253, 245);
    padding: 50px;
    border: 5px solid rgb(236, 223, 223);
    margin-left: auto;
    margin-right: auto;
}
